<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" />
</head>

<body>

<div class="site">
  <div id="title"></div>
  <div id="navigation">
    <ul>
      <li><a href="/index.html">HOME</a></li>
      <li><a href="/games.html">GAMES</a></li>
      <li><a href="/downloads.html">DOWNLOADS</a></li>
      <li><a href="/faq.html">FAQ</a></li>
      <li><a href="http://www.sbcr.jp/products/4797365337.html">BOOK</a></li>
    </ul>
  </div>
  
  {{ content }}
  
  <div class="footer">© 2011 KEIJIRO TAKAHASHI</div>
</div>
</body>
</html>
