<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" />
</head>

<body>

<div class="site">
  <div id="title"></div>
  <div id="navigation">
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/">GAMES</a></li>
      <li><a href="/">DOWNLOADS</a></li>
      <li><a href="/">FAQ</a></li>
      <li><a href="/">BOOK</a></li>
    </ul>
  </div>
  
  {{ content }}
  
  <div class="footer">© 2011 KEIJIRO TAKAHASHI</div>
</div>
</body>
</html>
